{% extends "base.html" %}

{% block customjs %}
<script src="/static/dist/js/assets.js"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">主机管理</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                主机列表
                <ul class="nav navbar-top-links navbar-right">
                        <li>
                        <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#newServer">添加主机</button>
                        </li>
                </ul>
            </div>
            <!-- /.panel-heading -->
            {% if data.status %}
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-condensed table-striped" id="serverList">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>主机名</th>
                                <th>主机IP</th>
                                <th>内网IP</th>
                                <th>需要部署的服务</th>
                                <th>是否在国内</th>
                                <th>运行状态</th>
                                <th>创建时间</th>
                                <th>更新时间</th>
                                <th>功能</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in data.serverList %}
                            <tr>
                                <td>{{item.id}}</td>
                                <td>{{item.detail_set.all.0.hostname|default:"N/A"}}</td>
                                <td>{{item.public_ip}}</td>
                                <td>{{item.detail_set.all.0.internal_ip|default:"N/A"}}</td>
                                <td>{{item.product.name}}</td>
                                <td>{{item.in_china}}</td>
                                {% if item.server_status == 'not running' %}
                                <td><font color="red">{{item.server_status}}</font></td>
                                {% elif item.server_status == 'deploying' %}
                                <td><font color="yellow">{{item.server_status}}</font></td>
                                {% else %}
                                <td><font color="green">{{item.server_status}}</font></td>
                                {% endif %}
                                <td>{{item.create_time}}</td>
                                <td>{{item.update_time|default:"N/A"}}</td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-xs" onclick="show_server_detail({{item.id}})">详情</button>
                                    <button type="button" class="btn btn-primary btn-xs">编辑</button>
                                    <button type="button" class="btn btn-primary btn-xs" onclick="del('delServer','{{item.id}}', '{{item.public_ip}}')">删除</button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            {% else %}
            <div class="col-xs-9 col-xs-offset-3">
                <h3>还没有添加任何主机...</h3>
            </div>
            {% endif %}
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>


<!-- Page-Level Demo Scripts - Tables - Use for reference -->

<!-- Modal -->
{% include 'Modal/server/new.html' %}
{% include 'Modal/server/detail.html' %}

{% endblock %}