<div class="modal fade" id="serverDetail" tabindex="-1" role="dialog" aria-labelledby="serverDetailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">主机主机详情</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped" id="tb-sd">
                    <thead>
                        <tr>
                            <td>主机名</td>
                            <td>外网ip</td>
                            <td>内网ip</td>
                            <td>操作系统</td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>